# Default registry settings, which uses _auth to encode username:password.
registry=https://na.artifactory.swg-devops.com/artifactory/api/npm/wcp-taas-team-example-npm-virtual
_auth = aWJtZXJAaWJtLmNvbTpBS0NhYmNkZWZnaGlqa2xtbm9wcXJzdHV2eHl6QUJDREVGR0hJSktMTU5PUFFSU1RVVldYWVowMTIzNDU2Nzg5bm90cmVhbG9r
always-auth = true
email = ibmer@ibm.com

# Scope-specific registry settings, which uses _password to encode a password.
# Note: The API key used here is slightly different, so that it'll be detected separately.
@taas:registry=https://na.artifactory.swg-devops.com/artifactory/api/npm/wcp-taas-team-example-npm-local/
//na.artifactory.swg-devops.com/artifactory/api/npm/wcp-taas-team-example-npm-local/:_password=QUtDYWJjZGVmZ2hpamtsbW5vcHFyc3R1dnh5ekFCQ0RFRkdISUpLTE1OT1BRUlNUVVZXWFlaMDEyMzQ1Njc4OW5vdHJlYWxseQ==
//na.artifactory.swg-devops.com/artifactory/api/npm/wcp-taas-team-example-npm-local/:username=ibmer@ibm.com
//na.artifactory.swg-devops.com/artifactory/api/npm/wcp-taas-team-example-npm-local/:email=ibmer@ibm.com
//na.artifactory.swg-devops.com/artifactory/api/npm/wcp-taas-team-example-npm-local/:always-auth=true
